{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to eBuy Anything Anytime</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit ex, sollicitudin ut accumsan nec, dictum ut lorem.
                    Nunc eget vulputate justo, ut gravida purus. Sed ac dui viverra, placerat urna id, laoreet erat. Morbi eget justo quis
                    elit pretium luctus. Vestibulum pretium pellentesque metus eu varius. Curabitur dapibus libero a tellus porttitor
                    congue. Nullam in commodo velit, ut auctor lorem. In mattis diam at facilisis vulputate. Nam eu justo at lacus iaculis
                    accumsan at quis ante. Aliquam purus libero, rhoncus sit amet odio vel, tincidunt luctus sapien. Quisque dui velit,
                    ullamcorper et erat quis, dictum finibus nulla. Nunc metus metus, interdum non lorem non, faucibus ornare sem. Ut
                    tincidunt ullamcorper elit aliquet suscipit. Aenean a arcu consectetur, maximus erat nec, accumsan arcu. Integer auctor
                    tincidunt metus. Nam ac ligula ut magna convallis venenatis.
                    <br/><br/>
                    In quis maximus purus. Mauris venenatis pellentesque accumsan. Ut eget bibendum neque, at condimentum nibh. Phasellus
                    mattis euismod elit non porttitor. Donec at purus nec quam bibendum commodo. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos himenaeos. Donec nec risus et purus sodales hendrerit.
                    <br/><br/>
                    Nam varius orci dapibus neque lobortis, ac fringilla metus lacinia. Vivamus lacinia mi lorem, nec sodales arcu hendrerit
                    quis. Nullam et nunc a felis auctor sodales euismod nec est. Nunc pharetra eleifend quam, tincidunt cursus erat
                    vestibulum et. Ut tempor felis sem, sit amet convallis lacus posuere eu. Nullam eros ante, mollis vestibulum luctus ac,
                    sodales et enim. Maecenas id purus sagittis, consequat dolor id, vulputate tortor. Morbi a neque eget purus dictum
                    tincidunt. Donec id suscipit arcu. Vivamus eget turpis dapibus, commodo ipsum nec, tristique ante. Nunc ut turpis
                    vestibulum, pulvinar velit id, posuere turpis. Donec eget tortor lacus. Sed ipsum arcu, imperdiet eu gravida nec,
                    interdum sit amet metus. Cras aliquam et mauris sit amet egestas.
                </p>
                <br/><br/>

            </div>
        </center>

    </div>
</div>

{% endblock %}